/* body {
    background-color: white;
    font-family: "sans-serif";
    font-style: italic;
    
}

h1 {
    color: darkblue;
    text-align: center;
    
    
}
img {
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 4px;
    margin-right: 2px;
}
.gray-element {
    background-color: azure;
    text-decoration: line-through;
}

.nana  {
    font-weight: bold;
    color: red;
}

.flat {
    width: 300px;
    height: 300px;
    border-radius: 150px;
}

.thin {
    width: 100px;
    height: 100px;
    background-color:pink;
    border: solid;
}

.new {
    border: solid 2px black;
    border-radius: 2px
}

.corners {
    
    padding: 50px;    
    border: 1px solid black;
    background-color: lavender;
}

.leftWing {
    padding-right: 200px;
    background-color: crimson;
}

.rightWing {
    padding-left: 200px;
    background-color: lightBlue;
}

.lightObjects {
    padding-top: 20px;
}

.heavyObjects {
    padding-top: 60px;
    padding-bottom: 20px;
}

.image {
    padding: 30px;
    border: solid;
}

.kobby {
    margin: 30px;
    border: 5px solid;
}

.kwame {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
    border: 5px solid;
}

img {
    margin-left: 10px;
    margin-right: 10px;
    height: 75px;
    width: 75px;
} */

/* #latest {
    background-color: aquamarine;
    text-transform: capitalize;
    text-decoration: underline;
    color: rgb(255,0, 0);
    color: hsl(0, 100%, 50%);
} */

/* #blog h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */

/* #blog div h1 {
    color: blue;
    text-align: center;
    text-align: justify;
    text-align: left;
    text-align: right;
}

p { 
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-style: solid;
    text-decoration-thickness: 5px;
} */

.parent{
    border: 4px solid green;
}

.child {
    width: 50%;
    padding: 20px;
    border: 4px solid gray;
    float: right;
    margin: auto;
}

body {
    background-color: #E0E0E2 ;
   
}
h1 {
    color:#721817 ;
}
h2 {
    color: #721817;
}
.center-text{
    text-align: center;
}
#logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
h2 > span {
  color: #FA9F42;
  font-size: 0.75em;
}
#copyright {
    padding-top: 12px;
    font-size : 0.75em;
}
