body {
    background-color: blanchedalmond;
    font-family: "Times New Roman";
    font-style: italic;
    
}

h1 {
    color: darkblue;
    text-align: center;
    
}
img {
    border-radius: 10px;
    margin-top: 8px;
    margin-left: 2px;
    margin-right: 2px;
}
.gray-element {
    background-color: azure;
    text-decoration: line-through;
}

.nana  {
    font-weight: bold;
    color: red;
}

.flat {
    width: 300px;
    height: 300px;
    border-radius: 150px;
}

.thin {
    width: 100px;
    height: 100px;
    background-color:pink;
    border: solid;
}

.new {
    border: solid 2px black;
    border-radius: 2px
}

.corners {
    
    padding: 50px;    
    border: 1px solid black;
    background-color: lavender;
}

.leftWing {
    padding-right: 200px;
    background-color: crimson;
}

.rightWing {
    padding-left: 200px;
    background-color: lightBlue;
}

.lightObjects {
    padding-top: 20px;
}

.heavyObjects {
    padding-top: 60px;
    padding-bottom: 20px;
}

.image {
    padding: 30px;
    border: solid;
}

.kobby {
    margin: 30px;
    border: 5px solid;
}

.kwame {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
    border: 5px solid;
}

img {
    margin-left: 10px;
    margin-right: 10px;
    height: 75px;
    width: 75px;
}